ags/file/ags_file.dtd

<!ENTITY ags-default-version "0.7.8">
<!ENTITY ags-effects-default-version "0.7.8">
<!ENTITY ags-clipboard-default-version "0.7.8">
<!ENTITY ags-led "AgsLed">
<!ENTITY ags-vindicator "AgsVIndicator">
<!ENTITY ags-hindicator "AgsHIndicator">
<!ENTITY gtk-label "GtkLabel">
<!ENTITY ags-waveform "AgsWaveform">
<!ENTITY gtk-button "GtkButton">
<!ENTITY gtk-toggle-button "GtkToggleButton">
<!ENTITY gtk-check-button "GtkCheckButton">
<!ENTITY gtk-spin-button "GtkSpinButton">
<!ENTITY gtk-vscale "GtkVScale">
<!ENTITY gtk-hscale "GtkHScale">
<!ENTITY ags-dial "AgsDial">
<!ENTITY ags-cartesian "AgsCartesian">

<!-- utility -->
<!ELEMENT ags-value PCDATA>
<!ATTLIST ags-value
	  id               ID         #REQUIRED
          type             CDATA      #REQUIRED
	  link             CDATA      #IMPLIED
	  >

<!ELEMENT ags-parameter (ags-value)*>
<!ATTLIST ags-parameter
	  id               ID         #REQUIRED
	  name             CDATA      #IMPLIED
	  >

<!ELEMENT ags-dependency-list (ags-dependency*)>
<!ATTLIST ags-dependency-list
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-dependency EMPTY>
<!ATTLIST ags-dependency
	  id               ID         #REQUIRED
	  xpath            CDATA      #REQUIRED
	  >

<!ELEMENT ags-object (ags-widget | ags-plugin | ags-parameter)>
<!ATTLIST ags-object
	  id                   ID         #REQUIRED
	  >

<!ELEMENT ags-plugin EMPTY
	  type                   CDATA      #REQUIRED
	  id                     ID         #REQUIRED
	  version                CDATA      #REQUIRED
	  build-id               CDATA      #REQUIRED
	  flags                  PCDATA     #REQUIRED	  
	  >

<!-- root node -->
<!ELEMENT ags (ags-config?, ags-clip-board?, ags-script-list?, ags-cluster?, ags-client?, ags-server?, ags-main?, ags-embedded-audio-list?, ags-file-link-list?, ags-history?)>
<!ATTLIST ags
	  version          CDATA      #REQUIRED
	  build-id         CDATA      #REQUIRED
	  embedded-audio   CDATA      "FALSE"
	  >

<!ELEMENT ags-offset (#CDATA)>
<!ATTLIST ags-offset
	  offset-type      CDATA      "date-time"
	  offset-format    CDATA      "YYYY-MM-DD H:M:S.N"
	  >

<!ELEMENT ags-tic (#NMTOKEN)>

<!-- program configuration GKeyFile - the same as $(HOME)/.gsequener/ags.conf -->
<!ELEMENT ags-config (#CDATA)>
<!ATTLIST ags-config
	  id               ID         #REQUIRED
	  version          CDATA      #REQUIRED
	  build-id         CDATA      #REQUIRED
	  >

<!-- clipboard -->
<!ELEMENT ags-clip-board (#CDATA)>
<!ATTLIST ags-clip-board
          id               ID         #REQUIRED
          >

<!-- script -->
<!ELEMENT ags-script-list (ags-script*)>

<!ELEMENT ags-script (#CDATA)>
<!ATTLIST ags-script
	  id               ID         #REQUIRED
	  version          CDATA      #REQUIRED
	  build-id         CDATA      #REQUIRED
	  filename         CDATA      #REQUIRED
	  >

<!-- cluster -->
<!ELEMENT ags-cluster (ags-client-list)>
<!ATTLIST ags-cluster
	  id               ID         #REQUIRED
	  version          CDATA      #REQUIRED
	  build-id         CDATA      #REQUIRED
	  >

<!-- TODO:JK: define me -->

<!-- client -->
<!ATTLIST ags-client-list (ags-client*)>
<!ATTLIST ags-client-list
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-client>
<!ATTLIST ags-client
	  id               ID         #REQUIRED
	  version          CDATA      #REQUIRED
	  build-id         CDATA      #REQUIRED
	  socket-type      CDATA      "IPv4"
	  remote-address   CDATA      #REQUIRED
	  remote-port      CDATA      #REQUIRED
	  remote-username  CDATA      #REQUIRED
	  remote-password  CDATA      #REQUIRED
	  local-address    CDATA      #REQUIRED
	  local-port       CDATA      #IMPLIED
	  proxy-protocol   CDATA      "HTTPS"
	  proxy-address    CDATA      #IMPLIED
	  proxy-port       CDATA      #IMPLIED
	  proxy-username   CDATA      #IMPLIED
	  proxy-password   CDATA      #IMPLIED
	  security         CDATA      "SSLv3"
	  public-key       CDATA      #REQUIRED
	  private-key      CDATA      #IMPLIED
	  log-file         CDATA      #REQUIRED
	  >

<!-- server -->
<!ELEMENT ags-server (ags-registry, ags-remote-task-list, ags-timestamp-list)>
<!ATTLIST ags-server
          id               ID         #REQUIRED
	  version          CDATA      #REQUIRED
	  build-id         CDATA      #REQUIRED
	  autostart        CDATA      #REQUIRED
	  socket-type      CDATA      "IPv4"
	  address          CDATA      #REQUIRED
	  port             CDATA      #REQUIRED
	  username         CDATA      #REQUIRED
	  password         CDATA      #REQUIRED
	  security         CDATA      "SSLv3"
	  public-key       CDATA      #REQUIRED
	  private-key      CDATA      #IMPLIED
	  log-file         CDATA      #REQUIRED
	  >

<!ELEMENT ags-registry (ags-registry-entry-list)>
<!ATTLIST ags-registry
          id               ID         #REQUIRED
	  id-type          CDATA      "hex-string"
	  id-length        NMTOKEN    16
	  indicated        CDATA      "FALSE"
	  >

<!ELEMENT ags-registry-entry-list (ags-registry-entry*)>
<!ATTLIST ags-registry-entry-list
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-registry-entry EMPTY>
<!ATTLIST ags-registry-entry
	  id               ID         #REQUIRED
	  entry            IDREF      #REQUIRED
	  key              PCDATA     #REQUIRED
	  >

<!ELEMENT ags-remote-task-list (ags-remote-task*)>
<!ATTLIST ags-remote-task-list
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-remote-task (ags-timestamp?)>
<!ATTLIST ags-remote-task
	  id               ID         #REQUIRED
	  task             IDREF      #REQUIRED
	  launched         CDATA      #REQUIRED
	  >

<!-- main -->
<!ELEMENT ags-main (ags-soundcard-list, ags-sequencer-list, ags-window, ags-thread, ags-thread-pool)>
<!ATTLIST ags-main
	  id               ID         #REQUIRED
	  version          CDATA      #REQUIRED
	  build-id         CDATA      #REQUIRED
	  log-file         NMTOKEN    #IMPLIED
	  context          CDATA      #IMPLIED
	  >

<!-- thread -->
<!ELEMENT ags-thread-list (ags-thread*)>
<!ATTLIST ags-thread-list
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-thread (ags-thread-list, (ags-audio-loop | ags-task-thread | ags-gui-thread | ags-soundcard-thread | ags-sequencer-thread | ags-export-thread | ags-audio-thread | ags-channel-thread | ags-recycling-thread | ags-timestamp-thread | ags-single-thread))>
<!ATTLIST ags-thread
	  type             CDATA      #REQUIRED
	  id               ID         #REQUIRED
	  flags            PCDATA     #REQUIRED
	  frequency        NMTOKEN    #REQUIRED
>

<!ELEMENT ags-thread-pool (ags-parameter?)>
<!ATTLIST ags-thread-pool
	  id               ID         #REQUIRED
>

<!ELEMENT ags-task-thread EMPTY>
<!ATTLIST ags-task-thread
	  id               ID         #REQUIRED
>

<!ELEMENT ags-timestamp-thread EMPTY>
<!ATTLIST ags-timestamp-thread
	  id               ID         #REQUIRED
>

<!ELEMENT ags-audio-loop EMPTY>
<!ATTLIST ags-audio-loop
	  id               ID         #REQUIRED
	  soundcard        IDREF      #REQUIRED
>

<!ELEMENT ags-soundcard-thread EMPTY>
<!ATTLIST ags-soundcard-thread
	  id               ID         #REQUIRED
	  soundcard        IDREF      #REQUIRED
>

<!ELEMENT ags-sequencer-thread EMPTY>
<!ATTLIST ags-sequencer-thread
	  id               ID         #REQUIRED
	  soundcard        IDREF      #REQUIRED
>

<!ELEMENT ags-export-thread EMPTY>
<!ATTLIST ags-export-thread
	  id               ID         #REQUIRED
	  soundcard        IDREF      #REQUIRED
>

<!ELEMENT ags-audio-thread EMPTY>
<!ATTLIST ags-audio-thread
	  id               ID         #REQUIRED
	  soundcard        IDREF      #REQUIRED
>

<!ELEMENT ags-channel-thread EMPTY>
<!ATTLIST ags-channel-thread
	  id               ID         #REQUIRED
	  soundcard        IDREF      #REQUIRED
>

<!ELEMENT ags-recycling-thread EMPTY>
<!ATTLIST ags-recycling-thread
	  id               ID         #REQUIRED
	  soundcard        IDREF      #REQUIRED
>

<!ELEMENT ags-gui-thread EMPTY>
<!ATTLIST ags-gui-thread
	  id               ID         #REQUIRED
>

<!ELEMENT ags-single-thread EMPTY>
<!ATTLIST ags-single-thread
	  id               ID         #REQUIRED
>

<!-- audio -->
<!ELEMENT ags-soundcard-list (ags-soundcard*)>
<!ATTLIST ags-soundcard-list
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-soundcard (ags-audio-list)>
<!ATTLIST ags-soundcard
	  id               ID         #REQUIRED
	  device           CDATA      "hw:0.0"
	  channels         NMTOKEN    2
	  samplerate       NMTOKEN    44100 <!-- renamed frequence, frequency -->
	  buffer-size      NMTOKEN    940
	  format           PCDATA     #REQUIRED
	  bpm              NMTOKEN    120.0
	  delay-factor     NMTOKEN    0.25
	  note-offset      NMTOKEN    0
	  >

<!ELEMENT ags-playback-domain-list (ags-playback-domain*)>
<!ATTLIST ags-playback-domain-list
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-playback-domain EMPTY>
<!ATTLIST ags-playback-domain
	  id               ID         #REQUIRED
	  flags            PCDATA     #REQUIRED
	  domain           IDREF      #REQUIRED
	  >

<!ELEMENT ags-playback-list (ags-playback*)>
<!ATTLIST ags-playback-list
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-playback EMPTY>
<!ATTLIST ags-playback
	  id               ID         #REQUIRED
	  flags            PCDATA     #REQUIRED
	  source           IDREF      #REQUIRED
	  audio-channel    NMTOKEN    #REQUIRED
	  >

<!ELEMENT ags-audio-list (ags-audio*)>
<!ATTLIST ags-audio-list
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-audio (ags-playback-domain, ags-file-link?, ags-channel-list?, ags-channel-list?, ags-recall-list?, ags-recall-list?, ags-notation-list?, ags-automation-list?)>
<!ATTLIST ags-audio
	  id                    ID         #REQUIRED
	  flags                 PCDATA     #REQUIRED
	  soundcard             IDREF      #REQUIRED
	  sequencer             IDREF      #IMPLIED
	  samplerate            NMTOKEN    44100
	  buffer-length         NMTOKEN    940
	  sequence-length       NMTOKEN    16
	  audio-channels        NMTOKEN    2
	  output-pads           NMTOKEN    1
	  input-pads            NMTOKEN    1
	  audio-start-mapping   NMTOKEN    0
	  audio-end-mapping     NMTOKEN    128
	  midi-start-mapping    NMTOKEN    0
	  midi-end-mapping      NMTOKEN    128
	  machine               IDREF      #IMPLIED
	  >

<!ELEMENT ags-channel-list (ags-channel*)>
<!ATTLIST ags-channel-list
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-channel (ags-recycling?, ags-recall-list, ags-recall-list, ags-pattern-list?, (ags-output|ags-input), ags-playback)>
<!ATTLIST ags-channel
          id               ID         #REQUIRED
	  flags            PCDATA     #REQUIRED
	  soundcard        IDREF      #REQUIRED
	  audio            IDRER      "./ancestor::*[self::ags-audio][1]"
	  pad              NMTOKEN    #REQUIRED
	  audio-channel    NMTOKEN    #REQUIRED
	  note             CDATA      #IMPLIED
	  link             IDREF      #IMPLIED
	  widget           IDREF      #IMPLIED
	  >

<!ELEMENT ags-output EMPTY>
<!ELEMENT ags-output
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-input (ags-file-link?)>
<!ELEMENT ags-input
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-recycling (ags-audio-signal-list)>
<!ATTLIST ags-recycling
          id               ID         #REQUIRED
	  flags            PCDATA     #REQUIRED
	  soundcard        IDREF      #REQUIRED
	  channel          IDREF      "./ancestor::*[self::ags-channel][1]"
          >

<!ELEMENT ags-audio-signal-list (ags-audio-signal*)>
<!ATTLIST ags-audio-signal-list
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-audio-signal (ags-timestamp, ags-stream-list)>
<!ATTLIST ags-audio-signal
          id               ID         #REQUIRED
	  flags            PCDATA     #REQUIRED
	  soundcard        IDREF      #REQUIRED
	  recycling        IDREF      "./ancestor::*[self::ags-recycling][1]"
	  samplerate       NMTOKEN    #REQUIRED
	  buffer-size      NMTOKEN    #REQUIRED
	  word-size        NMTOKEN    #REQUIRED
	  format           PCDATA     #REQUIRED
	  length           NMTOKEN    #REQUIRED
	  last-frame       NMTOKEN    #REQUIRED
	  loop-start       NMTOKEN    #REQUIRED
	  loop-end         NMTOKEN    #REQUIRED
	  delay            NMTOKEN    #IMPLIED
	  attack           NMTOKEN    #REQUIRED
	  >

<!ELEMENT ags-stream-list (ags-stream*)>
<!ATTLIST ags-stream-list
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-stream (#PCDATA)>
<!ATTLIST ags-stream
	  id               ID         #REQUIRED
	  index            NMTOKEN    #REQUIRED
	  encoding         CDATA      "base64"
	  demuxer          CDATA      "raw"
	  >

<!ELEMENT ags-pattern-list (ags-pattern*)>
<!ATTLIST ags-pattern-list
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-pattern (ags-timestamp,ags-pattern-data-list)>
<!ATTLIST ags-pattern
	  id               ID         #REQUIRED
	  port             IDREF      #REQUIRED
	  dim-1st-level    NMTOKEN    1
	  dim-2nd-level    NMTOKEN    1
	  length           NMTOKEN    32
	  <!-- TODO:JK: implement following -->
	  delay            NMTOKEN    #REQUIRED
	  attack           NMTOKEN    #REQUIRED
	  >

<!ELEMENT ags-pattern-data-list (ags-pattern-data*)>
<!ATTLIST ags-pattern-data-list
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-pattern-data (#CDATA)>
<!ATTLIST ags-pattern-data
	  id               ID         #REQUIRED
	  flags            PCDATA     #REQUIRED
	  index-1st-level  NMTOKEN    #REQUIRED
	  index-2nd-level  NMTOKEN    #REQUIRED
	  coding           CDATA      "human readable"
	  >

<!ELEMENT ags-notation-list (ags-notation*)>
<!ATTLIST ags-notation-list
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-notation (ags-timestamp?, ags-note-list)>
<!ATTLIST ags-notation
	  id               ID         #REQUIRED
	  flags            PCDATA     #REQUIRED
	  audio            IDREF      "./ancestor::*[self::ags-audio][1]"
	  port             IDREF      #REQUIRED
	  audio-channel    NMTOKEN    #REQUIRED
	  key              CDATA      "violine"
	  base-note        NMTOKEN    "A"
	  base-frequency   NMTOKEN    #IMPLIED
	  bpm              NMTOKEN    #IMPLIED
	  tact             NMTOKEN    #IMPLIED
	  max-note-length  NMTOKEN    16.0
	  loop-start       NMTOKEN    #IMPLIED
	  loop-end         NMTOKEN    #IMPLIED
	  >

<!ELEMENT ags-note-list (ags-note*)>
<!ATTLIST ags-note-list
	  id               ID        #REQUIRED
	  >

<!ELEMENT ags-note EMPTY>
<!ATTLIST ags-note
	  id               ID         #REQUIRED
	  flags            PCDATA     #REQUIRED
	  x0               NMTOKEN    #REQUIRED
	  x1               NMTOKEN    #REQUIRED
	  y                NMTOKEN    #REQUIRED
	  stream-delay     NMTOKEN    #IMPLIED
	  stream-attack    NMTOKEN    #IMPLIED
	  attack           NMTOKEN    #IMPLIED
	  decay            NMTOKEN    #IMPLIED
	  sustain          NMTOKEN    #IMPLIED
	  release          NMTOKEN    #IMPLIED
	  ratio            NMTOKEN    #IMPLIED
	  name             CDATA      #IMPLIED
	  frequency        NMTOKEN    #IMPLIED
	  >

<!ELEMENT ags-automation-list (ags-automation*)>
<!ATTLIST ags-automation-list
	  id               ID        #REQUIRED
	  >

<!ELEMENT ags-automation (ags-timestamp?, ags-translate?, ags-acceleration-list)>
<!ATTLIST ags-automation
	  id               ID         #REQUIRED
	  audio            IDREF      "./ancestor::*[self::ags-audio][1]"
	  line             NMTOKEN    #REQUIRED
	  channel-type     CDATA      #REQUIRED
	  control-name     CDATA      #REQUIRED
	  steps            NMTOKEN    #REQUIRED
	  upper            NMTOKEN    #REQUIRED
	  lower            NMTOKEN    #REQUIRED
	  default-value    NMTOKEN    #REQUIRED
	  port             IDREF      #REQUIRED
	  >

<!ELEMENT ags-acceleration-list (ags-acceleration*)>
<!ATTLIST ags-acceleration-list
	  id               ID        #REQUIRED
	  >

<!ELEMENT ags-acceleration EMPTY>
<!ATTLIST ags-acceleration
	  id               ID         #REQUIRED
	  flags            PCDATA     #REQUIRED
	  x                NMTOKEN    #REQUIRED
	  y                NMTOKEN    #REQUIRED
	  name             CDATA      #REQUIRED
	  >

<!ELEMENT ags-task-list (ags-task*)>
<!ATTLIST ags-task-list
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-task (ags-parameter*)>
<!ATTLIST ags-task
	  type             CDATA      #REQUIRED
	  id               ID         #REQUIRED
	  flags            PCDATA     #REQUIRED
	  name             CDATA      #REQUIRED
	  error-message    CDATA      #IMPLIED
	  >

<!-- recalls -->
<!ELEMENT ags-recall-list (ags-recall*)>
<!ATTLIST ags-recall-list
	  id               ID         #REQUIRED
	  is-play          CDATA      #REQUIRED
	  >

<!ELEMENT ags-recall ((ags-recall-audio|ags-recall-audio-run|ags-recall-channel|ags-recall-channel-run|ags-recall-recycling|ags-recall-audio-signal)?, ags-recall-list?, ags-port-list?, ags-dependency-list?,  ags-parameter*)>
<!ATTLIST ags-recall
	  type                   CDATA      #REQUIRED
	  id                     ID         #REQUIRED
	  flags                  PCDATA     #REQUIRED
	  version                CDATA      #REQUIRED
	  build-id               CDATA      #REQUIRED
	  effect                 CDATA      #REQUIRED
	  name                   CDATA      #REQUIRED
	  soundcard              CDATA      #REQUIRED
	  container              CDATA      #IMPLIED
	  child-type             CDATA      #IMPLIED
	  next-grouped           IDREF      #IMPLIED
	  >

<!ELEMENT ags-recall-container-list (ags-recall-container*)>
<!ATTLIST ags-recall-container-list
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-recall-container (ags-parameter*)>
<!ATTLIST ags-recall-container
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-recall-audio EMPTY>
<!ATTLIST ags-recall-audio
	  id               ID         #REQUIRED
	  audio-ref        IDREF      "./ancestor::*[self::ags-audio][1]"
	  >

<!ELEMENT ags-recall-audio-run EMPTY>
<!ATTLIST ags-recall-audio-run
	  id               ID         #REQUIRED
	  audio-ref        IDREF      "./ancestor::*[self::ags-audio][1]"
	  >

<!ELEMENT ags-recall-channel EMPTY>
<!ATTLIST ags-recall-channel
	  id               ID         #REQUIRED
	  channel-ref      IDREF      "./ancestor::*[self::ags-channel][1]"
	  >

<!ELEMENT ags-recall-channel-run EMPTY>
<!ATTLIST ags-recall-channel-run
	  id               ID         #REQUIRED
	  channel-ref      IDREF      "./ancestor::*[self::ags-channel][1]"
	  >

<!ELEMENT ags-recall-recycling EMPTY>
<!ATTLIST ags-recall-recycling
	  id               ID         #REQUIRED
	  recycling-ref    IDREF      #REQUIRED
	  >

<!ELEMENT ags-recall-audio-signal EMPTY>
<!ATTLIST ags-recall-audio-signal
	  id               ID         #REQUIRED
	  audio-signal-ref IDREF      #REQUIRED
	  >

<!ELEMENT ags-port-list (ags-port*)>
<!ATTLIST ags-port-list
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-port (ags-value)>
<!ATTLIST ags-port
	  plugin-name          CDATA      #REQUIRED
	  specifier            CDATA      #REQUIRED
	  control-port         CDATA      #REQUIRED
	  port-data-is-pointer CDATA      #REQUIRED
	  port-data-type       CDATA      #REQUIRED
	  port-data-size       NMTOKEN    #REQUIRED
	  port-data-length     NMTOKEN    #REQUIRED
	  >

<!--GUI Widgets -->
<!ELEMENT ags-widget
	  width                NMTOKEN    #REQUIRED
	  height               NMTOKEN    #REQUIRED
	  xalign               NMTOKEN    #IMPLIED
	  xpad                 NMTOKEN    #IMPLIED
	  yalign               NMTOKEN    #IMPLIED
	  ypad                 NMTOKEN    #IMPLIED
	  upper                NMTOKEN    #IMPLIED
	  lower                NMTOKEN    #IMPLIED
	  step                 NMTOKEN    #IMPLIED
	  page                 NMTOKEN    #IMPLIED
	  value                NMTOKEN    #IMPLIED
	  >

<!ELEMENT ags-window (ags-menu-bar?, ags-machine-counter-list?, ags-machine-list?, ags-editor?, ags-navigation?, ags-automation-window, ags-dialog-list?, ags-machine-editor-list?)>
<!ATTLIST ags-window
	  id               ID         #REQUIRED
	  flags            PCDATA     #REQUIRED
	  name             CDATA      #IMPLIED
	  soundcard        CDATA      #REQUIRED
	  >

<!ELEMENT ags-menu-bar EMPTY>
<!ATTLIST ags-menu-bar
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-machine-counter-list (ags-machine-counter*)>
<!ATTLIST ags-machine-counter-list
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-machine-counter EMPTY>
<!ATTLIST ags-machine-counter
	  id               ID         #REQUIRED
	  version          CDATA      #REQUIRED
	  build-id         CDATA      #REQUIRED
	  machine-type     CDATA      #REQUIRED
	  filename         CDATA      #IMPLIED
	  effect           CDATA      #IMPLIED
	  counter          CDATA      #REQUIRED
	  >

<!-- machine -->
<!ELEMENT ags-machine-list (ags-machine*)>
<!ATTLIST ags-machine-list
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-machine ((ags-panel|ags-mixer|ags-drum|ags-matrix|ags-synth|ags-ffplayer|ags-ladspa-bridge|ags-dssi-bridge|ags-lv2-bridge), ags-pad-list, ags-pad-list, ags-bridge)>
<!ATTLIST ags-machine
	  type              CDATA      #REQUIRED
	  id                ID         #REQUIRED
	  flags             PCDATA     #REQUIRED
	  file-input-flags  PCDATA     #REQUIRED
	  name              CDATA      #REQUIRED
	  version           CDATA      #REQUIRED
	  build-id          CDATA      #REQUIRED
	  bank_0            NMTOKEN    0
	  bank_1            NMTOKEN    0
	  audio             IDREF      #REQUIRED
	  machine-editor    IDREF      #IMPLIED
	  rename-dialog     IDREF      #IMPLIED
	  connection-editor IDREF      #IMPLIED
	  >

<!ELEMENT ags-pad-list (ags-pad*)>
<!ATTLIST ags-pad-list
	  id               ID         #REQUIRED
	  scope            CDATA      #REQUIRED
	  >

<!ELEMENT ags-pad (ags-line-list, (ags-panel-input-pad|ags-mixer-input-pad|ags-mixer-output-pad|ags-drum-input-pad|ags-drum-output-pad|ags-synth-input-pad))>
<!ATTLIST ags-pad
	  type             CDATA      #REQUIRED
	  id               ID         #REQUIRED
	  flags            PCDATA     #REQUIRED
	  version          CDATA      #REQUIRED
	  build-id         CDATA      #REQUIRED
	  channel          IDREF      #REQUIRED
	  rows             NMTOKEN    #IMPLIED
	  cols             NMTOKEN    #IMPLIED
	  group            CDATA      "true"
	  mute             CDATA      "false"
	  solo             CDATA      "false"
	  >

<!ELEMENT ags-line-list (ags-line*)>
<!ATTLIST ags-line-list
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-line (ags-line-member-list, (ags-panel-input-line|ags-mixer-input-line|ags-drum-input-line|ags-drum-output-line|ags-synth-input-line))>
<!ATTLIST ags-line
	  type             CDATA      #REQUIRED
	  id               ID         #REQUIRED
	  flags            PCDATA     #REQUIRED
	  version          CDATA      #REQUIRED
	  build-id         CDATA      #REQUIRED
	  name             CDATA      #REQUIRED
	  left-attach      NMTOKEN    #REQUIRED
	  rigth-attach     NMTOKEN    #REQUIRED
	  top-attach       NMTOKEN    #REQUIRED
	  bottom-attach    NMTOKEN    #REQUIRED
	  rows             NMTOKEN    #REQUIRED
	  cols             NMTOKEN    #REQUIRED
	  grouped          NMTOKEN    #REQUIRED
	  >

<!ELEMENT ags-line-member-list (ags-line-member*)>
<!ATTLIST ags-line-member-list
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-line-member EMPTY>
<!ATTLIST ags-line-member
	  id                   ID         #REQUIRED
	  flags                PCDATA     #REQUIRED
	  widget-type          CDATA      "AgsDial"
	  label                CDATA      #IMPLIED
	  filename             CDATA      #IMPLIED
	  effect               CDATA      #IMPLIED
	  plugin-name          CDATA      #IMPLIED
	  specifier            CDATA      #IMPLIED
	  port                 CDATA      #REQUIRED
	  recall-port          CDATA      #IMPLIED
	  task-type            CDATA      #REQUIRED
	  left-attach          NMTOKEN    #REQUIRED
	  rigth-attach         NMTOKEN    #REQUIRED
	  top-attach           NMTOKEN    #REQUIRED
	  bottom-attach        NMTOKEN    #REQUIRED
	  width                NMTOKEN    #REQUIRED
	  height               NMTOKEN    #REQUIRED
	  xalign               NMTOKEN    #IMPLIED
	  xpad                 NMTOKEN    #IMPLIED
	  yalign               NMTOKEN    #IMPLIED
	  ypad                 NMTOKEN    #IMPLIED
	  upper                NMTOKEN    #IMPLIED
	  lower                NMTOKEN    #IMPLIED
	  step                 NMTOKEN    #IMPLIED
	  page                 NMTOKEN    #IMPLIED
	  value                CDATA      #IMPLIED
	  inverted             CDATA      #IMPLIED
	  >

<!ELEMENT ags-effect-bridge-list (ags-effect-bridge*)>
<!ATTLIST ags-effect-bridge-list
	  id                   ID         #REQUIRED
	  >

<!ELEMENT ags-effect-bridge (ags-effect-bulk?, ags-effect-bulk?, ags-effect-pad-list?, ags-effect-pad-list?)>
<!ATTLIST ags-effect-bridge
	  id                ID         #REQUIRED
	  flags             PCDATA     #REQUIRED
	  name              CDATA      #REQUIRED
	  version           CDATA      #REQUIRED
	  build-id          CDATA      #REQUIRED
	  audio             IDREF      #REQUIRED
	  bulk-output-type  CDATA      #REQUIRED
	  bulk-input-type   CDATA      #REQUIRED
	  output-pad-type   CDATA      #REQUIRED
	  output-line-type  CDATA      #REQUIRED
	  input-pad-type    CDATA      #REQUIRED
	  input-line-type   CDATA      #REQUIRED
	  >

<!ELEMENT ags-effect-bulk-list (ags-effect-bulk*)>
<!ATTLIST ags-effect-bulk-list
	  id                   ID         #REQUIRED
	  >

<!ELEMENT ags-effect-bulk (ags-bulk-member-list?)>
<!ATTLIST ags-effect-bulk
	  id                ID         #REQUIRED
	  scope             CDATA      #REQUIRED
	  flags             PCDATA     #REQUIRED
	  name              CDATA      #REQUIRED
	  version           CDATA      #REQUIRED
	  build-id          CDATA      #REQUIRED
	  channel-type      CDATA      #REQUIRED
	  audio             CDATA      #REQUIRED
	  >

<!ELEMENT ags-bulk-member-list (ags-bulk-member*)>
<!ATTLIST ags-bulk-member-list
	  id                   ID         #REQUIRED
	  >

<!ELEMENT ags-bulk-member (ags-parameter*)>
<!ATTLIST ags-bulk-member
	  id                   ID         #REQUIRED
	  flags                PCDATA     #REQUIRED
	  widget-type          CDATA      "AgsDial"
	  label                CDATA      #IMPLIED
	  filename             CDATA      #IMPLIED
	  effect               CDATA      #IMPLIED
	  plugin-name          CDATA      #IMPLIED
	  specifier            CDATA      #IMPLIED
	  task-type            CDATA      #REQUIRED
	  left-attach          NMTOKEN    #REQUIRED
	  rigth-attach         NMTOKEN    #REQUIRED
	  top-attach           NMTOKEN    #REQUIRED
	  bottom-attach        NMTOKEN    #REQUIRED
	  width                NMTOKEN    #REQUIRED
	  height               NMTOKEN    #REQUIRED
	  xalign               NMTOKEN    #IMPLIED
	  xpad                 NMTOKEN    #IMPLIED
	  yalign               NMTOKEN    #IMPLIED
	  ypad                 NMTOKEN    #IMPLIED
	  upper                NMTOKEN    #IMPLIED
	  lower                NMTOKEN    #IMPLIED
	  step                 NMTOKEN    #IMPLIED
	  page                 NMTOKEN    #IMPLIED
	  value                CDATA      #IMPLIED
	  inverted             CDATA      #IMPLIED
	  >

<!ELEMENT ags-effect-pad-list (ags-effect-pad*)>
<!ATTLIST ags-effect-pad-list
	  id               ID         #REQUIRED
	  scope            CDATA      #REQUIRED
	  >

<!ELEMENT ags-effect-pad (ags-effect-line-list, (ags-synth-output-pad|ags-ffplayer-input-pad))>
<!ATTLIST ags-effect-pad
	  id               ID         #REQUIRED
	  flags            PCDATA     #REQUIRED
	  version          CDATA      #REQUIRED
	  build-id         CDATA      #REQUIRED
	  channel          IDREF      #REQUIRED
	  name             CDATA      #REQUIRED
	  rows             NMTOKEN    #IMPLIED
	  cols             NMTOKEN    #IMPLIED
	  group            CDATA      "true"
	  mute             CDATA      "false"
	  solo             CDATA      "false"
	  >

<!ELEMENT ags-effect-line-list (ags-effect-line*)>
<!ATTLIST ags-effect-line-list
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-effect-line (ags-line-member-list, (ags-synth-output-line|ags-ffplayer-input-line))>
<!ATTLIST ags-effect-line
	  id               ID         #REQUIRED
	  version          CDATA      #REQUIRED
	  build-id         CDATA      #REQUIRED
	  name             CDATA      #REQUIRED
	  channel          IDREF      #REQUIRED
	  left-attach      NMTOKEN    #REQUIRED
	  rigth-attach     NMTOKEN    #REQUIRED
	  top-attach       NMTOKEN    #REQUIRED
	  bottom-attach    NMTOKEN    #REQUIRED
	  rows             NMTOKEN    #REQUIRED
	  cols             NMTOKEN    #REQUIRED
	  grouped          NMTOKEN    #REQUIRED
	  >

<!ELEMENT ags-panel EMPTY>
<!ATTLIST ags-panel
	  id               ID         #REQUIRED
	  soundcard        IDREF      #REQUIRED
	  >

<!ELEMENT ags-panel-input-pad EMPTY>
<!ATTLIST ags-panel-input-pad
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-panel-input-line EMPTY>
<!ATTLIST ags-panel-input-line
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-mixer EMPTY>
<!ATTLIST ags-mixer
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-mixer-input-pad EMPTY>
<!ATTLIST ags-mixer-input-pad
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-mixer-input-line EMPTY>
<!ATTLIST ags-mixer-input-line
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-mixer-output-pad EMPTY>
<!ATTLIST ags-mixer-output-pad
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-mixer-output-line EMPTY>
<!ATTLIST ags-mixer-output-line
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-drum EMPTY>
<!ATTLIST ags-drum
	  id               ID         #REQUIRED
	  length           NMTOKEN    #REQUIRED
	  bank-index-0     NMTOKEN    #REQUIRED
	  bank-index-1     NMTOKEN    #REQUIRED
	  loop             CDATA      #IMPLIED
	  >

<!ELEMENT ags-drum-input-pad EMPTY>
<!ATTLIST ags-drum-input-pad
	  id               ID         #REQUIRED
	  edit             CDATA      #REQUIRED
	  >

<!ELEMENT ags-drum-input-line EMPTY>
<!ATTLIST ags-drum-input-line
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-drum-output-pad EMPTY>
<!ATTLIST ags-drum-output-pad
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-drum-output-line EMPTY>
<!ATTLIST ags-drum-output-line
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-matrix EMPTY>
<!ATTLIST ags-matrix
	  id               ID         #REQUIRED
	  length           NMTOKEN    #REQUIRED
	  bank-index       NMTOKEN    #REQUIRED
	  loop             CDATA      #IMPLIED
	  >

<!ELEMENT ags-synth EMPTY>
<!ATTLIST ags-synth
	  id               ID         #REQUIRED
	  lower            NMTOKEN    #REQUIRED
	  loop-begin       NMTOKEN    #REQUIRED
	  loop-end         NMOTKEN    #REQUIRED
	  >

<!ELEMENT ags-synth-input-pad EMPTY>
<!ATTLIST ags-synth-input-pad
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-synth-input-line (ags-oscillator)>
<!ATTLIST ags-synth-input-line
	  id               ID         #REQUIRED	  
	  >

<!ELEMENT ags-synth-output-pad EMPTY>
<!ATTLIST ags-synth-output-pad
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-synth-output-line EMPTY>
<!ATTLIST ags-synth-output-line
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-oscillator EMPTY>
<!ATTLIST ags-oscillator
	  id               ID         #REQUIRED
	  wave             CDATA      #REQUIRED
	  attack           NMTOKEN    #REQUIRED
	  frame-count      NMTOKEN    #REQUIRED
	  frequency        NMTOKEN    #REQUIRED
	  phase            NMTOKEN    #REQUIRED
	  volume           NMTOKEN    #REQUIRED
	  >

<!ELEMENT ags-ffplayer EMPTY>
<!ATTLIST ags-ffplayer
	  id               ID         #REQUIRED
	  filename         CDATA      #IMPLIED
	  preset           CDATA      #IMPLIED
	  instrument       CDATA      #IMPLIED
	  >

<!ELEMENT ags-ffplayer-input-pad EMPTY>
<!ATTLIST ags-ffplayer-input-pad
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-ffplayer-input-line EMPTY>
<!ATTLIST ags-ffplayer-input-line
	  id               ID         #REQUIRED	  
	  >

<!ELEMENT ags-ladspa-bridge EMPTY>
<!ATTLIST ags-ladspa-bridge
	  id               ID         #REQUIRED
	  filename         CDATA      #IMPLIED
	  effect           CDATA      #IMPLIED
	  >

<!ELEMENT ags-dssi-bridge EMPTY>
<!ATTLIST ags-dssi-bridge
	  id               ID         #REQUIRED
	  filename         CDATA      #IMPLIED
	  effect           CDATA      #IMPLIED
	  >

<!ELEMENT ags-lv2-bridge EMPTY>
<!ATTLIST ags-lv2-bridge
	  id               ID         #REQUIRED
	  filename         CDATA      #IMPLIED
	  effect           CDATA      #IMPLIED
	  >

<!-- windows -->
<!ELEMENT ags-automation-window-list (ags-automation-window*)>
<!ATTLIST ags-automation-window-list
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-automation-window (ags-automation-edit)>
<!ATTLIST ags-automation-window
	  id               ID         #REQUIRED
	  flags            PCDATA     #REQUIRED
	  >

<!ELEMENT ags-automation-editor-list (ags-automation-editor*)>
<!ATTLIST ags-automation-editor-list
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-automation-editor (ags-automation-toolbar, ags-machine-selector?, ags-automation-edit-list)>
<!ATTLIST ags-automation-editor
	  id               ID         #REQUIRED
	  version          CDATA      #REQUIRED
	  build-id         CDATA      #REQUIRED
	  >

<!ELEMENT ags-automation-edit-list (ags-automation-edit*)>
<!ATTLIST ags-automation-edit-list
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-automation-edit (ags-automation-area-list*)>
<!ATTLIST ags-automation-edit
	  id               ID         #REQUIRED
	  domain           CDATA      #REQUIRED
	  >

<!ELEMENT ags-automation-area-list (ags-automation-area*)>
<!ATTLIST ags-automation-area-list
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-automation-area (ags-automation-edit)>
<!ATTLIST ags-automation-area
	  id                 ID         #REQUIRED
	  y                  NMTOKEN    #REQUIRED
	  height             NMTOKEN    #REQUIRED
	  audio              IDREF      #REQUIRED
	  channel-type       CDATA      #IMPLIED
	  control-specifier  CDATA      #IMPLIED
	  control-name       CDATA      #IMPLIED
	  >

<!ELEMENT ags-export-window-list (ags-export-window*)>
<!ATTLIST ags-export-window-list
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-export-window (ags-export-edit)>
<!ATTLIST ags-export-window
	  id               ID         #REQUIRED
	  filename         CDATA      #REQUIRED
	  >

<!ELEMENT ags-import-window-list (ags-import-window*)>
<!ATTLIST ags-import-window-list
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-import-window (ags-import-edit)>
<!ATTLIST ags-import-window
	  id               ID         #REQUIRED
	  >

<!-- dialogs -->
<!ELEMENT ags-dialog-list (ags-dialog*)>
<!ATTLIST ags-dialog-list
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-dialog EMPTY>
<!ATTLIST ags-dialog
	  id               ID         #REQUIRED
	  dialog-type      CDATA      #REQUIRED
	  >

<!ELEMENT ags-machine-editor-list (ags-machine-editor*)>
<!ATTLIST ags-machine-editor-list
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-machine-editor (ags-pad-editor-list)>
<!ATTLIST ags-machine-editor
	  id               ID         #REQUIRED
	  version          CDATA      #REQUIRED
	  build-id         CDATA      #REQUIRED
	  machine          IDREF      #REQUIRED
	  >

<!ELEMENT ags-pad-editor-list (ags-pad-editor*)>
<!ATTLIST ags-pad-editor-list
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-pad-editor (ags-line-editor-list)>
<!ATTLIST ags-pad-editor
	  id               ID         #REQUIRED
	  version          CDATA      #REQUIRED
	  build-id         CDATA      #REQUIRED
	  pad              NMTOKEN    #REQUIRED
	  >

<!ELEMENT ags-line-editor-list (ags-line-editor*)>
<!ATTLIST ags-line-editor-list
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-line-editor (ags-line-member-editor-list, ags-link-editor)>
<!ATTLIST ags-line-editor
	  id               ID         #REQUIRED
	  version          CDATA      #REQUIRED
	  build-id         CDATA      #REQUIRED
	  line             NMTOKEN    #REQUIRED
	  >

<!ELEMENT ags-line-member-editor-list (ags-line-member-editor*)>
<!ATTLIST ags-line-member-editor-list
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-line-member-editor (#IDREF, #CDATA, #CDATA, #NMTOKEN, ((#CDATA), (#CDATA, #CDATA)*)*, #IDREF, #IDREF, #CDATA, #NMTOKEN, #NMTOKEN, #NMTOKEN, #NMTOKEN)*>

<!ELEMENT ags-link-editor-list (ags-link-editor*)>
<!ATTLIST ags-link-editor-list
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-link-editor EMPTY>
<!ATTLIST ags-link-editor
	  id               ID         #REQUIRED
	  machine          CDATA      #REQUIRED
	  name             CDATA      #REQUIRED
	  link		   NMTOKEN    #REQUIRED
	  >

<!-- editor -->
<!ELEMENT ags-editor (ags-toolbar, ags-machine-selector?, ags-notebook)>
<!ATTLIST ags-editor
	  id               ID         #REQUIRED
	  version          CDATA      #REQUIRED
	  build-id         CDATA      #REQUIRED
	  flags            PCDATA     #REQUIRED
	  >

<!ELEMENT ags-toolbar EMPTY>
<!ATTLIST ags-toolbar
	  id               ID         #REQUIRED
	  edit-mode        CDATA      "edit"
	  zoom             CDATA      "1:4"
	  mode             CDATA      "single-channel"
	  >

<!ELEMENT ags-machine-selector (ags-parameter)>
<!ATTLIST ags-machine-selector
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-notebook (ags-notebook-tab-list)>
<!ATTLIST ags-notebook
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-notebook-tab-list (ags-notebook-tab*)>
<!ATTLIST ags-notebook-tab-list
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-notebook-tab EMPTY>
<!ATTLIST ags-notebook-tab
	  id               ID         #REQUIRED
	  notation         IDREF      #IMPLIED
	  >

<!-- navigation -->
<!ELEMENT ags-navigation EMPTY>
<!ATTLIST ags-navigation
	  id               ID         #REQUIRED
	  expanded         CDATA      "FALSE"
	  bpm              NMTOKEN    120.0
	  loop             CDATA      "FALSE"
	  position         NMTOKEN    "0.0"
	  loop-left        NMTOKEN    "0.0"
	  loop-right       NMTOKEN    "4.0"
	  raster           CDATA      "TRUE"
	  >

<!-- embedded audio list -->
<!ELEMENT ags-embedded-audio-list (ags-embedded-audio*)>
<!ATTLIST ags-embedded-audio-list
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-embedded-audio (#PCDATA)>
<!ATTLIST ags-embedded-audio
	  id               ID         #REQUIRED
	  encoding         CDATA      "base64"
	  demuxer          CDATA      "raw"
	  length           NMTOKEN    #IMPLIED
	  >

<!-- file link list -->
<!ELEMENT ags-file-link-list (ags-file-link*)>
<!ATTLIST ags-file-link-list
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-file-link (ags-embedded-audio?, ags-timestamp)>
<!ATTLIST ags-file-link
	  id               ID         #REQUIRED
	  type             CDATA      "url"
	  filename         CDATA      #REQUIRED
	  audio-channel    CDATA      0
	  delay            CDATA      #REQUIRED <!-- start renamed -->
	  >

<!ELEMENT ags-history (ags-history-entry-list, ags-timestamp-list))>
<!ATTLIST ags-history
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-history-entry-list (ags-history-entry*)>
<!ATTLIST ags-history-entry-list
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-history-entry (#CDATA)>
<!ATTLIST ags-history-entry
	  id               ID         #REQUIRED
	  timestamp        IDREF      #REQUIRED
	  >

<!ELEMENT ags-timestamp-list (ags-timestamp*)>
<!ATTLIST ags-timestamp-list
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-timestamp (CDATA)>
<!ATTLIST ags-timestamp
	  id               ID         #REQUIRED
	  flags            PCDATA     #REQUIRED
	  delay            NMTOKEN    #REQUIRED
	  attack           NMTOKEN    #REQUIRED
	  >
