src/ags/file/ags_file.dtd

<!ENTITY ags-default-version "0.4.0">
<!ENTITY ags-effects-default-version "0.4.0">
<!ENTITY ags-clipboard-default-version "0.4.0">
<!ENTITY ags-led "AgsLed">
<!ENTITY ags-vindicator "AgsVIndicator">
<!ENTITY ags-hindicator "AgsHIndicator">
<!ENTITY gtk-label "GtkLabel">
<!ENTITY ags-waveform "AgsWaveform">
<!ENTITY gtk-button "GtkButton">
<!ENTITY gtk-toggle-button "GtkToggleButton">
<!ENTITY gtk-check-button "GtkCheckButton">
<!ENTITY gtk-spin-button "GtkSpinButton">
<!ENTITY gtk-vscale "GtkVScale">
<!ENTITY gtk-hscale "GtkHScale">
<!ENTITY ags-dial "AgsDial">
<!ENTITY ags-cartesian "AgsCartesian">

<!-- root node -->
<!ELEMENT ags (ags-clip-board, ags-script-list, ags-cluster, ags-client, ags-server, ags-main, ags-embedded-audio-list, ags-file-link-list, ags-history)>
<!ATTLIST ags
	  version          CDATA      #REQUIRED
	  embedded-audio   CDATA      "FALSE"
	  >

<!ELEMENT ags-offset (#CDATA)>
<!ATTLIST ags-offset
	  offset-type      CDATA      "date-time"
	  offset-format    CDATA      "YYYY-MM-DD H:M:S.N"
	  >

<!ELEMENT ags-tic (#NMTOKEN)>

<!-- clipboard -->
<!ELEMENT ags-clip-board (#CDATA)>
<!ATTLIST ags-clip-board
          id               ID         #REQUIRED
          >

<!-- script -->
<!ELEMENT ags-script-list (ags-script*)>

<!ELEMENT ags-script (#CDATA)>
<!ATTLIST ags-script
	  version          CDATA      #REQUIRED
	  >

<!-- cluster -->
<!ELEMENT ags-cluster (ags-client-list)>

<!-- TODO:JK: define me -->

<!-- client -->
<!ATTLIST ags-client-list (ags-client*)>

<!ELEMENT ags-client>
<!ATTLIST ags-client
	  address-type     CDATA      "IPv4"
	  remote-address   CDATA      #REQUIRED
	  remote-port      CDATA      #REQUIRED
	  remote-username  CDATA      #REQUIRED
	  remote-password  CDATA      #REQUIRED
	  >

<!-- server -->
<!ELEMENT ags-server (ags-registry, ags-remote-task-list)>
<!ATTLIST ags-server
          id               ID         #REQUIRED
	  started          CDATA      #REQUIRED
	  address-type     CDATA      "IPv4"
	  address          CDATA      #REQUIRED
	  port             CDATA      #REQUIRED
	  username         CDATA      #REQUIRED
	  password         CDATA      #REQUIRED
	  >

<!ELEMENT ags-registry (ags-registry-entry-list)>
<!ATTLIST ags-registry
          id               ID         #REQUIRED
	  id-type          CDATA      "hex-string"
	  id-length        NMTOKEN    16
	  >

<!ELEMENT ags-registry-entry-list (ags-registry-entry*)>

<!ELEMENT ags-registry-entry EMPTY>
<!ATTLIST ags-registry-entry
	  id               ID         #REQUIRED
	  entry            IDREF      #REQUIRED
	  >

<!ELEMENT ags-remote-task-list (ags-remote-task*)>

<!ELEMENT ags-remote-task (ags-offset?)>
<!ATTLIST ags-remote-task
	  task            IDREF       #REQUIRED
	  >

<!-- main -->
<!ELEMENT ags-main (ags-devout-list, ags-audio-list, ags-window)>

<!-- audio -->
<!ELEMENT ags-devout-list (ags-devout*)>

<!ELEMENT ags-devout EMPTY>
<!ATTLIST ags-devout
	  id               ID         #REQUIRED
	  pcm-channels     NMTOKEN    "2"
	  dsp-channels     NMTOKEN    "2"
	  bits             NMTOKEN    "16"
	  buffer-size      NMTOKEN    "512"
	  frequency        NMTOKEN    "44100" <!-- renamed frequence -->
	  system           CDATA      "alsa"
	  device           CDATA      "hw:0"
	  >

<!ELEMENT ags-audio-list ags-audio>

<!ELEMENT ags-audio (ags-channel-list, ags-recall-list, ags-notation-list)>
<!ATTLIST ags-audio
	  id               ID         #REQUIRED
	  audio-channels   NMTOKEN    "2"
	  output-pads      NMTOKEN    "1"
	  input-pads       NMTOKEN    "1"
	  >

<!ELEMENT ags-channel-list (ags-channel*)>

<!ELEMENT ags-channel (ags-recycling?, ags-recall-list, ags-pattern-list, (ags-output|ags-input))>
<!ATTLIST ags-channel
          id               ID         #REQUIRED
	  pad              NMTOKEN    #REQUIRED
	  audio-channel    NMTOKEN    #REQUIRED
	  link-name        CDATA      #REQUIRED
	  link-line        NMTOKEN    #REQUIRED
	  >

<!ELEMENT ags-output EMPTY>

<!ELEMENT ags-input (ags-file-link?)>

<!ELEMENT ags-recycling (ags-audio-signal-list)>
<!ATTLIST ags-recycling
          id               ID         #REQUIRED
          >

<!ELEMENT ags-audio-signal-list (ags-audio-signal*)>

<!ELEMENT ags-audio-signal (ags-stream-list)>
<!ATTLIST ags-audio-signal
          id               ID         #REQUIRED
	  start            NMTOKEN    #REQUIRED
	  stop             NMTOKEN    #REQUIRED
	  attack-offset    NMTOKEN    #REQUIRED <!-- renamed attack0 -->
	  attack-inverted  NMTOKEN    #REQUIRED <!-- renamed attack1 -->
	  parent-attack    NMTOKEN    #IMPLIED
	  lock-attack	   NMTOKEN    #REQUIRED
	  >

<!ELEMENT ags-stream-list (ags-stream*)>

<!ELEMENT ags-stream (#PCDATA)>

<!ELEMENT ags-pattern-list (ags-pattern*)>

<!ELEMENT ags-pattern (ags-pattern-data-list)>
<!ATTLIST ags-pattern
	  dim0             NMTOKEN    "1"
	  dim1             NMTOKEN    "1"
	  length           NMTOKEN    "32"
	  >

<!ELEMENT ags-pattern-data-list (ags-pattern-data*)>

<!ELEMENT ags-pattern-data (#CDATA)>
<!ATTLIST ags-pattern-data
	  index0           NMTOKEN    #REQUIRED
	  index1	   NMTOKEN    #REQUIRED
	  coding           CDATA      "human readable"
	  >

<!ELEMENT ags-notation-list (ags-notation*)>

<!ELEMENT ags-notation (ags-offset?, ags-note-list)>
<!ATTLIST ags-notation
	  raster           CDATA     "TRUE"
	  key              CDATA     "violine"
	  tact             CDATA     "1/4"
	  bpm              NMTOKEN   "120"
	  relative-offset  CDATA     "FALSE"
	  prev-offset      IDREF     #REQUIRED
	  >

<!ELEMENT ags-note-list (ags-note*)>

<!ELEMENT ags-note EMPTY>
<!ATTLIST ags-note
	  x0               NMTOKEN   #REQUIRED
	  x1               NMTOKEN   #REQUIRED
	  y                NMTOKEN   #REQUIRED
	  name             NMTOKEN   #IMPLIED
	  frequency        NMTOKEN   #IMPLIED
	  >

<!ELEMENT ags-task-list (ags-task*)>

<!ELEMENT ags-task EMPTY>
<!ATTLIST ags-task
	  id               ID         #REQUIRED
	  name             CDATA      #REQUIRED
	  delay            NMTOKEN    #REQUIRED <!-- start renamed -->
	  >

<!-- recalls -->
<!Element ags-recall-list (ags-recall*)>

<!ELEMENT ags-recall ((ags-recall-audio|ags-recall-audio-run|ags-recall-channel|ags-recall-channel-run|ags-recall-recycling|ags-recall-recycling-run|ags-recall-audio-signal)?, ags-recall-list?)>
<!ATTLIST ags-recall
	  id                     ID         #REQUIRED
	  effect                 CDATA      #REQUIRED
	  name                   CDATA      #REQUIRED
	  dependency             CDATA      #REQUIRED
	  control-count	         NMTOKEN    #REQUIRED
	  control-types          CDATA      #REQUIRED
	  control-property-name  CDATA      #REQUIRED
	  control-property-value CDATA      #REQUIRED
	  next-grouped           IDREF      #REQUIRED
	  effect-id              IDREF      #REQUIRED
	  version                CDATA      #REQUIRED
	  >

<!ELEMENT ags-recall-audio EMPTY>

<!ELEMENT ags-recall-audio-run EMPTY>

<!ELEMENT ags-recall-channel EMPTY>

<!ELEMENT ags-recall-channel-run EMPTY>

<!ELEMENT ags-recall-recycling EMPTY>

<!ELEMENT ags-recall-recycling-run EMPTY>

<!ELEMENT ags-recall-audio-signal EMPTY>

<!--GUI Widgets -->
<!ELEMENT ags-window (ags-menubar, ags-machine-list, ags-editor, ags-navigation)>

<!ELEMENT ags-menu-bar EMPTY>

<!ELEMENT ags-machine-list (ags-machine*)>

<!-- machine -->
<!ELEMENT ags-machine ((ags-panel|ags-mixer|ags-drum|ags-matrix|ags-synth|ags-ffplayer), ags-pad-list)>
<!ATTLIST ags-machine
	  name             CDATA      #REQUIRED
	  audio            IDREF      #REQUIRED
	  >

<!ELEMENT ags-panel EMPTY>
<!ATTLIST ags-panel
	  devout             IDREF    #REQUIRED
	  >

<!ELEMENT ags-mixer EMPTY>

<!ELEMENT ags-drum EMPTY>

<!ELEMENT ags-matrix EMPTY>

<!ELEMENT ags-synth EMPTY>

<!ELEMENT ags-ffplayer EMPTY>

<!ELEMENT ags-pad-list (ags-pad*)>

<!ELEMENT ags-pad (ags-line-list, (ags-mixer-input-pad|ags-mixer-output-pad|ags-drum-input-pad|ags-drum-output-pad))>
<!ATTLIST ags-pad
	  show-grouping    CDATA      "TRUE"
	  groupe-pad       CDATA      "FALSE"
	  groupe-channel   CDATA      "FALSE"
	  >

<!ELEMENT ags-mixer-input-pad EMPTY>

<!ELEMENT ags-mixer-output-pad EMPTY>

<!ELEMENT ags-drum-input-pad EMPTY>

<!ELEMENT ags-drum-output-pad EMPTY>

<!ELEMENT ags-line (ags-line-list*)>

<!ELEMENT ags-line (ags-line-member-list, (ags-drum-input-line|ags-drum-output-line))>
<!ATTLIST ags-line
	  rows             NMTOKEN    #REQUIRED
	  cols             NMTOKEN    #REQUIRED
	  >

<!ELEMENT ags-drum-input-line EMPTY>

<!ELEMENT ags-drum-output-line EMPTY>

<!ELEMENT ags-line-member-list (ags-line-member*)>

<!ELEMENT ags-line-member EMPTY>
<!ATTLIST ags-line-member
	  visualization    CDATA      "ags-Dial"
	  left-attach      NMTOKEN    #REQUIRED
	  rigth-attach     NMTOKEN    #REQUIRED
	  top-attach       NMTOKEN    #REQUIRED
	  bottom-attach    NMTOKEN    #REQUIRED
	  effect           CDATA      #REQUIRED
	  recall-name      CDATA      #REQUIRED
	  control          NMTOKEN    #REQUIRED
	  >

<!-- dialogs -->
<!ELEMENT ags-machine-editor (ags-pad-editor-list)>
<!ATTLIST ags-machine-editor
	  machine          CDATA      #REQUIRED
	  >

<!ELEMENT ags-pad-editor-list (ags-pad-editor*)>

<!ELEMENT ags-pad-editor (ags-line-editor-list)>
<!ATTLIST ags-pad-editor
	  pad              NMTOKEN    #REQUIRED
	  >

<!ELEMENT ags-line-editor-list (ags-line-editor*)>

<!ELEMENT ags-line-editor (ags-line-member-editor-list, ags-link-editor)>
<!ATTLIST ags-line-editor
	  line             NMTOKEN    #REQUIRED
	  >

<!ELEMENT ags-line-member-editor-list (ags-line-member-editor*)>

<!ELEMENT ags-line-member-editor (#IDREF, #CDATA, #CDATA, #NMTOKEN, ((#CDATA), (#CDATA, #CDATA)*)*, #IDREF, #IDREF, #CDATA, #NMTOKEN, #NMTOKEN, #NMTOKEN, #NMTOKEN)*>

<!ELEMENT ags-link-editor-list (ags-link-editor*)>

<!ELEMENT ags-link-editor EMPTY>
<!ATTLIST ags-link-editor
	  machine          CDATA      #REQUIRED
	  name             CDATA      #REQUIRED
	  link		   NMTOKEN    #REQUIRED
	  >

<!-- editor -->
<!ELEMENT ags-editor (ags-toolbar, ags-notebook)>

<!ELEMENT ags-toolbar EMPTY>
<!ATTLIST ags-toolbar
	  mode             CDATA      "edit"
	  tic              CDATA      "1/8"
	  zoom             CDATA      "1:8"
	  >

<!ELEMENT ags-notebook EMPTY>

<!-- navigation -->
<!ELEMENT ags-navigation EMPTY>
<!ATTLIST ags-navigation
	  expanded         CDATA      "FALSE"
	  bpm              NMTOKEN    "120"
	  loop             CDATA      "FALSE"
	  position-min     NMTOKEN    "0.0"
	  position-sec     NMTOKEN    "0.0"
	  duration-min     NMTOKEN    "0.0"
	  duration-sec     NMTOKEN    "0.0"
	  loop-left-min    NMTOKEN    "0.0"
	  loop-left-sec    NMTOKEN    "0.0"
	  loop-right-min   NMTOKEN    "0.0"
	  loop-right-sec   NMTOKEN    "0.0"
	  raster           CDATA      "TRUE"
	  >

<!-- embedded audio list -->
<!ELEMENT ags-embedded-audio-list (ags-embedded-audio*)>

<!ELEMENT ags-embedded-audio (#PCDATA)>
<!ATTLIST ags-embedded-audio
	  encoding         CDATA      "base64"
	  demuxer          CDATA      "raw"
	  channels         NMTOKEN    "2"
	  >

<!-- file link list -->
<!ELEMENT ags-file-link-list (ags-file-link*)>

<!ELEMENT ags-file-link (ags-offset)>
<!ATTLIST ags-file-link
	  id               ID         #REQUIRED
	  type             CDATA      "embedded audio"
	  mode             CDATA      "mix"
	  file             CDATA      #REQUIRED
	  delay            CDATA      #REQUIRED <!-- start renamed -->
	  >

<!ELEMENT ags-history (ags-history-entry-list, ags-timestamp-list))>

<!ELEMENT ags-history-entry-list (ags-history-entry*)>

<!ELEMENT ags-history-entry (#CDATA)>
<!ATTLIST ags-history-entry
	  entry            IDREF      #REQUIRED
	  >

<!ELEMENT ags-timestamp-list (ags-timestamp*)>

<!ELEMENT ags-timestamp (ags-offset,ags-tic)>
