src/ags/file/ags_file.dtd

<!ENTITY ags-default-version "0.4.0">
<!ENTITY ags-effects-default-version "0.4.0">
<!ENTITY ags-clipboard-default-version "0.4.0">
<!ENTITY ags-led "AgsLed">
<!ENTITY ags-vindicator "AgsVIndicator">
<!ENTITY ags-hindicator "AgsHIndicator">
<!ENTITY gtk-label "GtkLabel">
<!ENTITY ags-waveform "AgsWaveform">
<!ENTITY gtk-button "GtkButton">
<!ENTITY gtk-toggle-button "GtkToggleButton">
<!ENTITY gtk-check-button "GtkCheckButton">
<!ENTITY gtk-spin-button "GtkSpinButton">
<!ENTITY gtk-vscale "GtkVScale">
<!ENTITY gtk-hscale "GtkHScale">
<!ENTITY ags-dial "AgsDial">
<!ENTITY ags-cartesian "AgsCartesian">

<!-- utility -->
<!ELEMENT ags-value PCDATA>
<!ATTLIST ags-value
	  id               ID         #REQUIRED
          type             CDATA      #REQUIRED
	  >

<!ELEMENT ags-parameter (ags-value)*>
<!ATTLIST ags-parameter
	  id               ID         #REQUIRED
	  name             CDATA      #IMPLIED
	  >

<!ELEMENT ags-dependency-list (ags-dependency*)>
<!ATTLIST ags-dependency-list
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-dependency EMPTY>
<!ATTLIST ags-dependency
	  id               ID         #REQUIRED
	  name             CDATA      #REQUIRED
	  xpath            CDATA      #REQUIRED
	  >

<!-- root node -->
<!ELEMENT ags (ags-clip-board, ags-script-list, ags-cluster, ags-client, ags-server, ags-main, ags-embedded-audio-list, ags-file-link-list, ags-history)>
<!ATTLIST ags
	  version          CDATA      #REQUIRED
	  build-id         CDATA      #REQUIRED
	  embedded-audio   CDATA      "FALSE"
	  >

<!ELEMENT ags-offset (#CDATA)>
<!ATTLIST ags-offset
	  offset-type      CDATA      "date-time"
	  offset-format    CDATA      "YYYY-MM-DD H:M:S.N"
	  >

<!ELEMENT ags-tic (#NMTOKEN)>

<!-- clipboard -->
<!ELEMENT ags-clip-board (#CDATA)>
<!ATTLIST ags-clip-board
          id               ID         #REQUIRED
          >

<!-- script -->
<!ELEMENT ags-script-list (ags-script*)>

<!ELEMENT ags-script (#CDATA)>
<!ATTLIST ags-script
	  id               ID         #REQUIRED
	  version          CDATA      #REQUIRED
	  build-id         CDATA      #REQUIRED
	  filename         CDATA      #REQUIRED
	  >

<!-- cluster -->
<!ELEMENT ags-cluster (ags-client-list)>
<!ATTLIST ags-cluster
	  id               ID         #REQUIRED
	  version          CDATA      #REQUIRED
	  build-id         CDATA      #REQUIRED
	  >

<!-- TODO:JK: define me -->

<!-- client -->
<!ATTLIST ags-client-list (ags-client*)>
<!ATTLIST ags-client-list
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-client>
<!ATTLIST ags-client
	  id               ID         #REQUIRED
	  version          CDATA      #REQUIRED
	  build-id         CDATA      #REQUIRED
	  socket-type      CDATA      "IPv4"
	  remote-address   CDATA      #REQUIRED
	  remote-port      CDATA      #REQUIRED
	  remote-username  CDATA      #REQUIRED
	  remote-password  CDATA      #REQUIRED
	  local-address    CDATA      #REQUIRED
	  local-port       CDATA      #IMPLIED
	  proxy-protocol   CDATA      "HTTPS"
	  proxy-address    CDATA      #IMPLIED
	  proxy-port       CDATA      #IMPLIED
	  proxy-username   CDATA      #IMPLIED
	  proxy-password   CDATA      #IMPLIED
	  security         CDATA      "SSLv3"
	  public-key       CDATA      #REQUIRED
	  private-key      CDATA      #IMPLIED
	  log-file         CDATA      #REQUIRED
	  >

<!-- server -->
<!ELEMENT ags-server (ags-registry, ags-remote-task-list, ags-timestamp-list)>
<!ATTLIST ags-server
          id               ID         #REQUIRED
	  version          CDATA      #REQUIRED
	  build-id         CDATA      #REQUIRED
	  autostart        CDATA      #REQUIRED
	  socket-type      CDATA      "IPv4"
	  address          CDATA      #REQUIRED
	  port             CDATA      #REQUIRED
	  username         CDATA      #REQUIRED
	  password         CDATA      #REQUIRED
	  security         CDATA      "SSLv3"
	  public-key       CDATA      #REQUIRED
	  private-key      CDATA      #IMPLIED
	  log-file         CDATA      #REQUIRED
	  >

<!ELEMENT ags-registry (ags-registry-entry-list)>
<!ATTLIST ags-registry
          id               ID         #REQUIRED
	  id-type          CDATA      "hex-string"
	  id-length        NMTOKEN    16
	  indicated        CDATA      "FALSE"
	  >

<!ELEMENT ags-registry-entry-list (ags-registry-entry*)>
<!ATTLIST ags-registry-entry-list
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-registry-entry EMPTY>
<!ATTLIST ags-registry-entry
	  id               ID         #REQUIRED
	  entry            IDREF      #REQUIRED
	  key              PCDATA     #REQUIRED
	  >

<!ELEMENT ags-remote-task-list (ags-remote-task*)>
<!ATTLIST ags-remote-task-list
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-remote-task (ags-timestamp?)>
<!ATTLIST ags-remote-task
	  id               ID         #REQUIRED
	  task             IDREF      #REQUIRED
	  launched         CDATA      #REQUIRED
	  >

<!-- main -->
<!ELEMENT ags-main (ags-devout-list, ags-audio-list, ags-window)>
<!ATTLIST ags-main
	  id               ID         #REQUIRED
	  version          CDATA      #REQUIRED
	  build-id         CDATA      #REQUIRED
	  log-file         NMTOKEN    #REQUIRED
	  >

<!-- audio -->
<!ELEMENT ags-devout-list (ags-devout*)>
<!ATTLIST ags-devout-list
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-devout EMPTY>
<!ATTLIST ags-devout
	  id               ID         #REQUIRED
	  flags            PCDATA     #REQUIRED
	  dsp-channels     NMTOKEN    2
	  pcm-channels     NMTOKEN    2
	  bits             NMTOKEN    16
	  buffer-size      NMTOKEN    128
	  frequency        NMTOKEN    44100 <!-- renamed frequence -->
	  bpm              NMTOKEN    120.0
	  delay            NMTOKEN    84
	  delay-counter    NMTOKEN    #REQUIRED
	  attack-delay     NMTOKEN    #REQUIRED
	  attack-length    NMTOKEN    #REQUIRED
	  device           CDATA      "default"
	  devout-play      IDREF      #REQUIRED
	  >

<!ELEMENT ags-devout-play-list (ags-devout-play*)>
<!ATTLIST ags-devout-play-list
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-devout-play EMPTY>
<!ATTLIST ags-devout-play
	  id               ID         #REQUIRED
	  flags            PCDATA     #REQUIRED
	  source           IDREF      #REQUIRED
	  audio-channel    NMTOKEN    #REQUIRED
	  >

<!ELEMENT ags-audio-list ags-audio>
<!ATTLIST ags-audio-list
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-audio (ags-channel-list, ags-channel-list, ags-recall-list, ags-recall-list, ags-notation-list, devout-play)>
<!ATTLIST ags-audio
	  id               ID         #REQUIRED
	  flags            PCDATA     #REQUIRED
	  sequence-length  NMTOKEN    16
	  audio-channels   NMTOKEN    2
	  output-pads      NMTOKEN    1
	  input-pads       NMTOKEN    1
	  >

<!ELEMENT ags-channel-list (ags-channel*)>
<!ATTLIST ags-channel-list
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-channel (ags-recycling?, ags-recall-list, ags-recall-list, ags-pattern-list?, (ags-output|ags-input), devout-play)>
<!ATTLIST ags-channel
          id               ID         #REQUIRED
	  flags            PCDATA     #REQUIRED
	  pad              NMTOKEN    #REQUIRED
	  audio-channel    NMTOKEN    #REQUIRED
	  link             IDREF      #REQUIRED
	  >

<!ELEMENT ags-output EMPTY>
<!ELEMENT ags-output
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-input (ags-file-link?)>
<!ELEMENT ags-input
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-recycling (ags-audio-signal-list)>
<!ATTLIST ags-recycling
          id               ID         #REQUIRED
	  flags            PCDATA     #REQUIRED
          >

<!ELEMENT ags-audio-signal-list (ags-audio-signal*)>
<!ATTLIST ags-audio-signal-list
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-audio-signal (ags-timestamp,ags-stream-list)>
<!ATTLIST ags-audio-signal
          id               ID         #REQUIRED
	  flags            PCDATA     #REQUIRED
	  samplerate       NMTOKEN    #REQUIRED
	  buffer-size      NMTOKEN    #REQUIRED
	  resolution       NMTOKEN    #REQUIRED
	  length           NMTOKEN    #REQUIRED
	  last-frame       NMTOKEN    #REQUIRED
	  loop-start       NMTOKEN    #REQUIRED
	  loop-end         NMTOKEN    #REQUIRED
	  attack           NMTOKEN    #REQUIRED
	  >

<!ELEMENT ags-stream-list (ags-stream*)>
<!ATTLIST ags-stream-list
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-stream (#PCDATA)>
<!ATTLIST ags-stream
	  id               ID         #REQUIRED
	  index            NMTOKEN    #REQUIRED
	  encoding         CDATA      "base64"
	  demuxer          CDATA      "raw"
	  >

<!ELEMENT ags-pattern-list (ags-pattern*)>
<!ATTLIST ags-pattern-list
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-pattern (ags-timestamp,ags-pattern-data-list)>
<!ATTLIST ags-pattern
	  id               ID         #REQUIRED
	  dim-1st-level    NMTOKEN    1
	  dim-2nd-level    NMTOKEN    1
	  length           NMTOKEN    32
	  >

<!ELEMENT ags-pattern-data-list (ags-pattern-data*)>
<!ATTLIST ags-pattern-data-list
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-pattern-data (#CDATA)>
<!ATTLIST ags-pattern-data
	  id               ID         #REQUIRED
	  flags            PCDATA     #REQUIRED
	  index-1st-level  NMTOKEN    #REQUIRED
	  index-2nd-level  NMTOKEN    #REQUIRED
	  coding           CDATA      "human readable"
	  >

<!ELEMENT ags-notation-list (ags-notation*)>
<!ATTLIST ags-notation-list
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-notation (ags-timestamp, ags-note-list)>
<!ATTLIST ags-notation
	  id               ID         #REQUIRED
	  flags            CDATA      #REQUIRED
	  key              CDATA      "violine"
	  base-frequency   NMTOKEN    440.0
	  tact             NMTOKEN    0.25
	  bpm              NMTOKEN    120.0
	  max-note-length  NMTOKEN    16.0
	  loop-start       NMTOKEN    #IMPLIED
	  loop-end         NMTOKEN    #IMPLIED
	  >

<!ELEMENT ags-note-list (ags-note*)>
<!ATTLIST ags-note-list
	  id               ID        #REQUIRED
	  >

<!ELEMENT ags-note EMPTY>
<!ATTLIST ags-note
	  id               ID         #REQUIRED
	  flags            CDATA      #REQUIRED
	  x0               NMTOKEN    #REQUIRED
	  x1               NMTOKEN    #REQUIRED
	  y                NMTOKEN    #REQUIRED
	  name             NMTOKEN    #IMPLIED
	  frequency        NMTOKEN    #IMPLIED
	  >

<!ELEMENT ags-task-list (ags-task*)>
<!ATTLIST ags-task-list
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-task EMPTY>
<!ATTLIST ags-task
	  id               ID         #REQUIRED
	  name             CDATA      #REQUIRED
	  delay            NMTOKEN    #REQUIRED <!-- deprecated: start renamed -->
	  error-message    CDATA      #IMPLIED
	  >

<!-- recalls -->
<!ELEMENT ags-recall-list (ags-recall*)>
<!ATTLIST ags-recall-list
	  id               ID         #REQUIRED
	  is-play          CDATA      #REQUIRED
	  >

<!ELEMENT ags-recall ((ags-recall-audio|ags-recall-audio-run|ags-recall-channel|ags-recall-channel-run|ags-recall-recycling|ags-recall-recycling-run|ags-recall-audio-signal)?, ags-recall-list?, ags-dependency-list, ags-parameter)>
<!ATTLIST ags-recall
	  id                     ID         #REQUIRED
	  version                CDATA      #REQUIRED
	  build-id               CDATA      #REQUIRED
	  flags                  NMTOKE     0
	  effect                 CDATA      #REQUIRED
	  name                   CDATA      #REQUIRED
	  control-count	         NMTOKEN    #REQUIRED
	  control-types          CDATA      #REQUIRED
	  control-property-name  CDATA      #REQUIRED
	  control-property-value CDATA      #REQUIRED
	  next-grouped           IDREF      #REQUIRED
	  >

<!ELEMENT ags-recall-audio EMPTY>
<!ATTLIST ags-recall-audio
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-recall-audio-run EMPTY>
<!ATTLIST ags-recall-audio-run
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-recall-channel EMPTY>
<!ATTLIST ags-recall-channel
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-recall-channel-run EMPTY>
<!ATTLIST ags-recall-channel-run
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-recall-recycling EMPTY>
<!ATTLIST ags-recall-recycling
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-recall-recycling-run EMPTY>
<!ATTLIST ags-recall-recycling-run
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-recall-audio-signal EMPTY>
<!ATTLIST ags-recall-audio-signal
	  id               ID         #REQUIRED
	  >

<!--GUI Widgets -->
<!ELEMENT ags-window (ags-menubar, ags-machine-counter-list, ags-machine-list, ags-editor, ags-navigation)>
<!ATTLIST ags-window
	  id               ID         #REQUIRED
	  name             CDATA      #REQUIRED
	  >

<!ELEMENT ags-menu-bar EMPTY>
<!ATTLIST ags-menu-bar
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-machine-counter-list (ags-machine-counter*)>
<!ATTLIST ags-machine-counter-list
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-machine-counter EMPTY>
<!ATTLIST ags-machine-counter
	  id               ID         #REQUIRED
	  version          CDATA      #REQUIRED
	  build-id         CDATA      #REQUIRED
	  machine-type     CDATA      #REQUIRED
	  count            CDATA      #REQUIRED
	  >

<!ELEMENT ags-machine-list (ags-machine*)>
<!ATTLIST ags-machine-list
	  id               ID         #REQUIRED
	  >

<!-- machine -->
<!ELEMENT ags-machine ((ags-panel|ags-mixer|ags-drum|ags-matrix|ags-synth|ags-ffplayer), ags-pad-list)>
<!ATTLIST ags-machine
	  id               ID         #REQUIRED
	  name             CDATA      #REQUIRED
	  audio            IDREF      #REQUIRED
	  >

<!ELEMENT ags-panel EMPTY>
<!ATTLIST ags-panel
	  id               ID         #REQUIRED
	  devout           IDREF      #REQUIRED
	  >

<!ELEMENT ags-mixer EMPTY>
<!ATTLIST ags-mixer
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-drum EMPTY>
<!ATTLIST ags-drum
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-matrix EMPTY>
<!ATTLIST ags-matrix
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-synth EMPTY>
<!ATTLIST ags-synth
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-ffplayer EMPTY>
<!ATTLIST ags-ffplayer
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-pad-list (ags-pad*)>
<!ATTLIST ags-pad-list
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-pad (ags-line-list, (ags-mixer-input-pad|ags-mixer-output-pad|ags-drum-input-pad|ags-drum-output-pad))>
<!ATTLIST ags-pad
	  id               ID         #REQUIRED
	  show-grouping    CDATA      "TRUE"
	  groupe-pad       CDATA      "FALSE"
	  groupe-channel   CDATA      "FALSE"
	  >

<!ELEMENT ags-mixer-input-pad EMPTY>

<!ELEMENT ags-mixer-output-pad EMPTY>

<!ELEMENT ags-drum-input-pad EMPTY>

<!ELEMENT ags-drum-output-pad EMPTY>

<!ELEMENT ags-line (ags-line-list*)>

<!ELEMENT ags-line (ags-line-member-list, (ags-drum-input-line|ags-drum-output-line))>
<!ATTLIST ags-line
	  id               ID         #REQUIRED
	  rows             NMTOKEN    #REQUIRED
	  cols             NMTOKEN    #REQUIRED
	  >

<!ELEMENT ags-drum-input-line EMPTY>

<!ELEMENT ags-drum-output-line EMPTY>

<!ELEMENT ags-line-member-list (ags-line-member*)>
<!ATTLIST ags-line-member-list
	  id               ID         #REQUIRED
	  >

<!ELEMENT ags-line-member EMPTY>
<!ATTLIST ags-line-member
	  id               ID         #REQUIRED
	  visualization    CDATA      "ags-dial"
	  left-attach      NMTOKEN    #REQUIRED
	  rigth-attach     NMTOKEN    #REQUIRED
	  top-attach       NMTOKEN    #REQUIRED
	  bottom-attach    NMTOKEN    #REQUIRED
	  effect           CDATA      #REQUIRED
	  recall-type      CDATA      #REQUIRED
	  control          NMTOKEN    #REQUIRED
	  >

<!-- dialogs -->
<!ELEMENT ags-machine-editor (ags-pad-editor-list)>
<!ATTLIST ags-machine-editor
	  id               ID         #REQUIRED
	  machine          IDREF      #REQUIRED
	  >

<!ELEMENT ags-pad-editor-list (ags-pad-editor*)>

<!ELEMENT ags-pad-editor (ags-line-editor-list)>
<!ATTLIST ags-pad-editor
	  pad              NMTOKEN    #REQUIRED
	  >

<!ELEMENT ags-line-editor-list (ags-line-editor*)>

<!ELEMENT ags-line-editor (ags-line-member-editor-list, ags-link-editor)>
<!ATTLIST ags-line-editor
	  line             NMTOKEN    #REQUIRED
	  >

<!ELEMENT ags-line-member-editor-list (ags-line-member-editor*)>

<!ELEMENT ags-line-member-editor (#IDREF, #CDATA, #CDATA, #NMTOKEN, ((#CDATA), (#CDATA, #CDATA)*)*, #IDREF, #IDREF, #CDATA, #NMTOKEN, #NMTOKEN, #NMTOKEN, #NMTOKEN)*>

<!ELEMENT ags-link-editor-list (ags-link-editor*)>

<!ELEMENT ags-link-editor EMPTY>
<!ATTLIST ags-link-editor
	  machine          CDATA      #REQUIRED
	  name             CDATA      #REQUIRED
	  link		   NMTOKEN    #REQUIRED
	  >

<!-- editor -->
<!ELEMENT ags-editor (ags-toolbar, ags-notebook)>

<!ELEMENT ags-toolbar EMPTY>
<!ATTLIST ags-toolbar
	  mode             CDATA      "edit"
	  tic              CDATA      "1/8"
	  zoom             CDATA      "1:8"
	  >

<!ELEMENT ags-notebook EMPTY>

<!-- navigation -->
<!ELEMENT ags-navigation EMPTY>
<!ATTLIST ags-navigation
	  expanded         CDATA      "FALSE"
	  bpm              NMTOKEN    120.0
	  loop             CDATA      "FALSE"
	  position-min     NMTOKEN    "0.0"
	  position-sec     NMTOKEN    "0.0"
	  duration-min     NMTOKEN    "0.0"
	  duration-sec     NMTOKEN    "0.0"
	  loop-left-min    NMTOKEN    "0.0"
	  loop-left-sec    NMTOKEN    "0.0"
	  loop-right-min   NMTOKEN    "0.0"
	  loop-right-sec   NMTOKEN    "0.0"
	  raster           CDATA      "TRUE"
	  >

<!-- embedded audio list -->
<!ELEMENT ags-embedded-audio-list (ags-embedded-audio*)>

<!ELEMENT ags-embedded-audio (#PCDATA)>
<!ATTLIST ags-embedded-audio
	  encoding         CDATA      "base64"
	  demuxer          CDATA      "raw"
	  channels         NMTOKEN    "2"
	  >

<!-- file link list -->
<!ELEMENT ags-file-link-list (ags-file-link*)>

<!ELEMENT ags-file-link (ags-offset)>
<!ATTLIST ags-file-link
	  id               ID         #REQUIRED
	  type             CDATA      "xpath"
	  mode             CDATA      "mix"
	  file             CDATA      #REQUIRED
	  delay            CDATA      #REQUIRED <!-- start renamed -->
	  >

<!ELEMENT ags-history (ags-history-entry-list, ags-timestamp-list))>

<!ELEMENT ags-history-entry-list (ags-history-entry*)>

<!ELEMENT ags-history-entry (#CDATA)>
<!ATTLIST ags-history-entry
	  timestamp       IDREF      #REQUIRED
	  >

<!ELEMENT ags-timestamp-list (ags-timestamp*)>

<!ELEMENT ags-timestamp (ags-offset,ags-tic)>
<!ATTLIST ags-timestamp
	  id              ID         #REQUIRED
	  >
